h1{
    text-align: center;
}
h2{
    text-align: center;
}
body{
    background-color: black;
    color: white;
}
#icon{
    background-color: rgb(255, 111, 0);
  
}

.navbar{
    background-color: #28d4ef;
}

#icons2{
   color: white;
}